* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

html {
  font-family:
    Noto Sans,
    sans-serif;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: oklch(54.84% 0.023 304.99);
  border-radius: 10px;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: var(--palette-accent-500);
  }
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
  cursor: pointer;
}
